@media (min-width: 1220px) {
  .semester__theme__card {
    display: flex;
    gap: var(--l-spacing);
  }

  .semester__theme__card__copy:nth-of-type(odd) {
    order: 2;
  }
}

.semester__header {
  margin-bottom: var(--l-spacing);
}

.semester__theme__card {
  background-color: var(--card-clr);
  padding: var(--card-padding);
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: var(--xl-spacing);
}

.semester__theme__card__header {
  font-size: var(--h2-fs);
}

.semester__theme__card__subheader {
  font-size: var(--s-fs);
  font-weight: inherit;
  color: var(--subheader-clr);
}

.semester__theme__card__content__subheader {
  font-size: var(--h4-fs);
  margin-top: var(--m-spacing);
  margin-bottom: var(--xss-spacing);
}

.semester__theme__card__content__button {
  background-color: var(--accent-clr);
  padding: 1rem;
}

.semester__theme__card img video {
  border-radius: var(--border-radius);
}

div.semester__theme__card:nth-child(5) > img:nth-child(2) {
  object-fit: contain;
}

.scroll-tracker {
  height: 0.5rem;
  background-color: var(--accent-clr);
  position: fixed;
  inset: 0 0 auto;
  transform-origin: left;
}
